

<div class="container">
  <h1>
    abhishek displaying data using ng For
  </h1>
  
  <!-- <div 
*ngFor="let actor of actors; index as i; even as e"
  class="bg-dark text-light p-3 mb-2" 
  (click)="logActor(actor)"
  >
    <span
    [class.text-danger]="e"
    >{{i+1}}.{{actor.name}}</span> 
  </div> -->
<!-- <div class=""  *ngFor=""></div> -->

  <app-actor-display 
  *ngFor="let actor of actors; index as i; even  as e;"
  [actor]="actor"
  [index]="i"
  [even]="e"
  
  ></app-actor-display>
</div>